*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #122224; 
    font-family: 'Poppins', sans-serif;
}

ul{
    list-style: none;
    font-weight: bold;
}

a{text-decoration: none;}

body{
    height: 100vh;
    /* background: url(./ceu1.jpg) no-repeat center center fixed; */
    background-size: cover;
    background: linear-gradient(45deg, #7F7FD5,#86A8E7,#91EAE4);
}
header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    /* border-bottom: 2px solid #122224; */
    box-shadow: 1px 1px 10px 1px #122224;
    /* border-bottom: 15px ridge #fff; */
    margin-bottom: 130px;
}
header ul{
    display: flex;
}
header ul li{
    padding: 5px;
    /* border-left: 2px dashed #122224; */
}
header ul li a{
    transition: 300ms;
}
header ul li a:hover {
    color: #ffff;
}
/* header ul li:last-child{ */
        /* border-right: 2px dashed #122224;} */
.container {
    text-align: center;
}
.container .name h1{
    font-size: 70px;
}
.container .name h5{
    font-size: 25px;
}
#arrow{
    font-size: 35px;
    cursor: pointer; 
}
@keyframes blink {
    to {
        visibility: hidden;
    }
}
#animation{
    transition: 300ms;
    animation: blink 1s steps(5, start) infinite;
}
.rotate{
    transform: rotate(180deg);
    transition: 300ms;
}
.active{
    display: block !important;
}
#about p{
    max-width: 600px;
    font-weight: 550;
    margin: 0 auto;
}
.form {
    width: 40%;
    margin: 0 auto;
    font-weight: 600;
    /* border: thick double #122224; */
    padding: 25px;
}
.form input{
    width: 50%;
    padding: 5px 10px;
    border: none;
    border-radius: 5px 0px 0px 5px;
}
.form button{
    width: 20%;
    padding: 5px 10px;
    background: linear-gradient(to right, #2e8692 50%,#122224 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    color: aliceblue;
    font-weight: 600;
    border: none;
    cursor: pointer;
    transition: all 200ms ease-out;
    border-radius: 0px 5px 5px 0px;
    margin-top: 15px;
    margin-left: -5px;
}
.form button:hover {
    background-position: left bottom;
    color: #122224;
}
@media only screen and (max-width: 820px){
    .form{
        width: 100%;
    }
}
@media only screen and (max-width: 480px){
    .container .name h1{
        font-size: 50px;
        line-height: 40px;

    }
    .container .name h5{
        font-size: 20px;
    }
    #about p{
        max-width: 80%;
        text-align: justify;
    }
}